 <html>
        <head>
            <title> Pyssan's Blog </title>
        </head>
        <body>
            <div>
                <h1><a href="">Pyssan'ss Blog</a></h1>
            </div>

            <div>
                <p>published: 07.11.2016</p>
                <h2><a href="">My first post</a></h2>
                <p>This is my first post. Welcome to the blog. </p>
            </div>

            <div>
                <p>published: 07.11.2016, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>This is second post. It need more test.</p>
            </div>
        </body>

<a href="https://djangogirls.org">Blog Reference</a></br>
<a href="https:/www.google.com">Let's go to Google</a>
</html>
