 <html>
        <head>
            <title> Pyssan's Blog </title>
        </head>
        <body>
            <div>
                <h1><a href="">Pyssan'ss Blog</a></h1>
            </div>

	{% for post in posts %}
    		<div>
        		<p>published: {{ post.published_date }}</p>
        		<h1><a href="">{{ post.title }}</a></h1>
        		<p>{{ post.text|linebreaksbr }}</p>
    		</div>
	{% endfor %}

        </body>

<a href="https://djangogirls.org">Blog Reference</a></br>
<a href="https:/www.google.com">Let's go to Google</a>
</html>
